<div class="text-center" style="position: absolute; width: 600px; height: 200px; top: 50%; left: 50%; margin: -100px 0 0 -300px">
    <h1 class="display-4">Welcome</h1>
    <h5>You can use this site to keep track of Formula 1 Teams.</h5>
</div>
